@model AVSModels.Models.UserModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_CustomMainLayout.cshtml";
}
<section class="wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" style="margin-top:100px !important;">
            <form class="login-form" id="loginpage" action="~/User/ChangePassword" method="post">
                @Html.AntiForgeryToken()
                <div class="login-wrap bg loginbg">

                    @Html.HiddenFor(m => m.UserID)
                    <div class="input-group" style="margin-bottom:10px;">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @type = "password", @placeholder = "Password" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <div class="input-group" style="margin-bottom:10px;">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        @Html.EditorFor(model => model.ConformPassword, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @type = "password", @placeholder = "ConfirmPassword" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConformPassword, "", new { @class = "text-danger" })

                    <button class="btn btn-sm btn-primary pull-right" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
     

    }
</section>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
