@model IEnumerable<AVSModels.Models.PaymentTypes>

@{
    ViewBag.Title = "PaymnettypeIndex";
    Layout = "~/Views/Shared/_CustomMainLayout.cshtml";
}

<section class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <header>
                    <a href="#" id="AddNewVendor" onclick="openPaymentTypes()" title="create new Vendor" class="btn btn-sm btn btn-primary"><span class="fa fa-plus-circle"></span> New PaymentType &nbsp;</a>
                </header>
                <br />
                <table class="table table-hover table-bordered" id="tdVendors">
                    <thead class="thead">
                        <tr>
                            <th>PaymentTypeID</th>
                            <th>PaymentType Name</th>
                            <th>CreatedOn</th>
                            <th><i class=""></i>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PaymentTypeId</td>
                                    <td>@item.PaymentTypeName</td>
                                    <td>@item.CreatedOn.ToShortDateString()</td>
                                    <td>

                                        <a class="btn btn-xs btn-primary" onclick="EditPaymentType(@item.PaymentTypeId)" href="#"><i class="fa fa-pencil-square-o"></i></a>
                                        @*<a class="btn btn-xs btn-info" onclick="ViewVendor(@item.VendorID)" href="#"><i class="fa fa-eye"></i></a>*@
                                        <a class="btn btn-xs btn-danger" onclick="DeletePaymentType(@item.PaymentTypeId)" href="#"><i class="fa fa-trash-o"></i></a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</section>
@section Scripts{
    <script>
        function openPaymentTypes() {
            window.location.href = "/Payment/AddPaymenttypes";
        }

        function EditPaymentType(PaymenttypeID) {
            window.location.href = "/Payment/AddPaymenttypes?PaymenttypeID=" + PaymenttypeID;
        }
        function DeletePaymentType(PaymentTypeId) {

            $.ajax({
                async: false,
                url: "/Payment/DeletePaymentType",
                type: "POST",
                data: { PaymentTypeId: PaymentTypeId },
                success: function (result) {
                    if (result) {
                        notification('success', 'PaymentType Deleted Successfully');
                        location.reload();
                    }
                    else {
                        notification('warning', 'Failed to Delete PaymentType');
                    }
                }
            });
        }
    </script>
}