@model AVSModels.Models.CustomerModel
@{
    ViewBag.Title = "CreateCustomer";
}


<form>
    <div class="row">
        <div class="panel-heading" style="height:50px!important;">
            <div class="panel-title">
                <b>Add Customer</b>
                <a class="pull-right btn btn-sm btn-warning " style="color:white!important;" title="Back to Customer list" href="#" id="BacktoCustomers" onclick="BacktoCustomers()"><span class="fa fa-1x fa-chevron-circle-left">&nbsp;Customers</span></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.HiddenFor(m => m.CustomerID)
                <div class="row btm">
                    <div class="col-md-12">


                        <div class="col-md-6">
                            <div class="row btm">
                                @Html.Label("BillTo:", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                            </div>
                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            @Html.Label("Customer", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" }, id = "BCustomerName" })
                                                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @id = "Error_CustomerName", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("Mobile", htmlAttributes: new { @class = "control-label  labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" }, id = "BPhonenumber" })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @id = "Error_PhoneNumber", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" }, id = "BEmail" })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @id = "Error_Email", @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GSTNO, htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control" }, id = "BGSTNO" })
                                                @Html.ValidationMessageFor(model => model.GSTNO, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" }, id = "BEmail" })
                                                @Html.ValidationMessageFor(model => model.State, "", new { @id = "Error_Email", @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StateCode, htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.StateCode, new { htmlAttributes = new { @class = "form-control" }, id = "BGSTNO" })
                                                @Html.ValidationMessageFor(model => model.StateCode, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label labelcss col-md-2", @style = "padding-right:18px !important;" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "Address", @Style = "margin-left:-16px!important;" }, id = "BAddress" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @id = "Error_Address", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label onchange="checkAddress(this)" style="padding-left: 113px !important;">
                                            @Html.CheckBoxFor(model => model.IsSameAs, new {id = "IsSameAs", @class = "control-label labelcss" })
                                            <b> ShipTo Details Same as BillTo</b>
                                        </label>
                                        @*@Html.Label("", htmlAttributes: new { @class = "control-label labelcss col-md-2" })*@
                                        @*<div class="col-md-10">
                                            
                                            @Html.ValidationMessageFor(model => model.IsSameAs, "", new { @id = "Error_Address", @class = "text-danger" })
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            @*<input type="checkbox" value="" id="Address"  style="margin-left: 96px !important;"><label for="love" style=" padding-left: 8px !important;"> <b> BillTo Details Same As ShipTo</b></label>*@
                        </div>

                        <div class="col-md-6">
                            <div class="row btm">
                                @Html.Label("ShipTo:", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                            </div>
                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("Customer", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.SCustomerName, new { htmlAttributes = new { @class = "form-control" }, id = "SCustomerName" })
                                                @Html.ValidationMessageFor(model => model.SCustomerName, "", new { @id = "Error_CustomerName", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("Mobile", htmlAttributes: new { @class = "control-label  labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.SPhoneNumber, new { htmlAttributes = new { @class = "form-control" }, id = "SPhonenumber" })
                                                @Html.ValidationMessageFor(model => model.SPhoneNumber, "", new { @id = "Error_PhoneNumber", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("Email", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.SEmail, new { htmlAttributes = new { @class = "form-control" }, id = "SEmail" })
                                                @Html.ValidationMessageFor(model => model.SEmail, "", new { @id = "Error_Email", @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("GSTNO", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.SGSTNO, new { htmlAttributes = new { @class = "form-control" }, id = "SGSTNO" })
                                                @Html.ValidationMessageFor(model => model.SGSTNO, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("State", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.SState, new { htmlAttributes = new { @class = "form-control" }, id = "SSState" })
                                                @Html.ValidationMessageFor(model => model.SState, "", new { @id = "Error_Email", @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("StateCode", htmlAttributes: new { @class = "control-label labelcss col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.SStateCode, new { htmlAttributes = new { @class = "form-control" }, id = "SStateCode" })
                                                @Html.ValidationMessageFor(model => model.SStateCode, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btm">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Address", htmlAttributes: new { @class = "control-label labelcss col-md-2", @style = "padding-right:18px !important;" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.SAddress, new { htmlAttributes = new { @class = "form-control", @id = "SAddress", @Style = "margin-left:-16px!important;" } })
                                            @Html.ValidationMessageFor(model => model.SAddress, "", new { @id = "Error_Address", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.CustomerID != 0)
                            {

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-10"></div>
                                            <div class="col-md-2">
                                                <input type="button" value="Save Changes" onclick="UpdateCustomer()" class="btn btn-primary pull-right"style=" margin-right: 14px !important;"  />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr style="border-top:solid;color:darkblue!important;" />

<script>
    function checkAddress(ths) {
        var value = $('input[type="checkbox"]').prop("checked");
        if (value) {
            var customername = $("#CustomerName").val();
            var Phonenumber = $("#PhoneNumber").val();
            var Email = $("#Email").val();
            var GSTNO = $("#GSTNO").val();
            var Address = $("#Address").val();
            var state = $("#State").val();
            var statecode = $("#StateCode").val();
            $('#SCustomerName').val(customername);
            $('#SPhoneNumber').val(Phonenumber);
            $('#SEmail').val(Email);
            $('#SGSTNO').val(GSTNO);
            $('#SAddress').val(Address);
            $('#SState').val(state);
            $('#SStateCode').val(statecode);
        }
        else
        {
            $('#SCustomerName').val("");
            $('#SPhoneNumber').val("");
            $('#SEmail').val("");
            $('#SGSTNO').val("");
            $('#SAddress').val("");
            $('#SState').val("");
            $('#SStateCode').val("");
        }
    }
</script>


